header{
    text-align: right;
}
address{

}
h3{
    font-style: italic;
    font-family: 'Bad Script', cursive;
    text-indent: 20px;
    text-decoration: underline;
}
article{
    font-family: 'Bad Script', cursive;
    text-indent: 20px;   
}
